<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link href="styles/car_style.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="jquery.js"></script>
		<script type="text/javascript" src="script/car_script.js"></script>
		
		<title>
			Доступные автомобили
		</title>
	</head>
	<body>
	<table border="2" align="center">
	<tr>
		
		  
<% for(var i=0; i<results.length; i++) {%>
<td>
<form action="/choiscar" method="POST"><button type="submit">
			<img src=<%= results[i].urlimg%> height="250" id="second"/><br/>
			</button></form>
   Тип автомобіля <%= results[i].type%><br/>
   Модель <%= results[i].model%><br/>
   Пробіг <%= results[i].probig%><br/>
   Тип та обєм двигуна <%= results[i].engine%><br/>
    Коробка передач <%= results[i].transmision%><br/>
	 Привід <%= results[i].privod%><br/>
	  Витарата палива <%= results[i].fuelcost%><br/>
  <br/>
 
 </td>
	  <% } %>

		
	</tr>
	
	
	
	</table>
	

	</body>


</html>