<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link href="styles/car_style.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="jquery.js"></script>
		<script type="text/javascript" src="script/car_script.js"></script>
		
		<title>
			Доступные автомобили
		</title>
	</head>
	<body>
	<table border="2" align="center">
	<tr>
		<td>
		<form action="/choiscar" method="POST"><button type="submit">
			<img src=<%=imgs1%> height="250" id="second"/><br/>
			</button></form>
			
			тип автомобіля <%=typeavto1 %><br/>
			Пробіг <%=probig1 %><br/>
			тип та обєм двигуна <%=typeengine1 %><br/>
			Трансмісія <%=transmision1 %><br/>
			Привід <%=privod1 %><br/>
			Витрата палива <%=vitraty1 %><br/>
			
			
		</td>
		<td>
			<form action="/choiscar" method="POST"><button type="submit">
			<img src=<%=imgs2%> height="250" id="second"/><br/>
			</button></form>
			тип автомобіля <%=typeavto2 %>  <br/>
			Пробіг <%=probig2 %><br/>
			тип та обєм двигуна <%=typeengine2 %><br/>
			Трансмісія <%=transmision2 %><br/>
			Привід <%=privod2 %><br/>
			Витрата палива <%=vitraty2 %><br/>
			
		</td>
		<td>
		<form action="/choiscar" method="POST"><button type="submit">
			<img src=<%=imgs3%> height="250" id="second"/><br/>
			</button></form>
			
			тип автомобіля <%=typeavto3 %><br/>
			Пробіг <%=probig3 %><br/>
			тип та обєм двигуна <%=typeengine3 %><br/>
			Трансмісія <%=transmision3 %><br/>
			Привід <%=privod3 %><br/>
			Витрата палива <%=vitraty3 %><br/>
			
		</td>
	</tr>
	
	</table>
	</body>


</html>