<!DOCTYPE html> 
<html lang="en"> 
	<head>
		<title>
			Графік тестів автомобілів
		</title>	
	</head>
	<body>
<h1 align="center">виберіть зручний час тестдрайву</h1>

<form action="/sedan" method="POST">


	<table border="3">
		<% for(var i=0; i<results.length; i++) {%>
<tr>
	<td>
	<button type="submit" name="button1">
	<%=results[i].g8%>
	</button>
</td>
<td>
	<button type="submit" name="button1">
	<%=results[i].g9%>
	</button>
</td>
<td>
	<button type="submit" name="button1">
	<%=results[i].g10%>
	</button>
</td>
<td>
	<button type="submit" name="button1">
	<%=results[i].g11%>
	</button>
</td>
<td>
	<button type="submit" name="button1">
	<%=results[i].g12%>
	</button>
</form>
</td>
</tr>
 <% } %>
</table>

	</body>	
</html>